@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 2%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 2%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 2%;

    --primary: 0 0% 2%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 56%;
    --secondary-foreground: 0 0% 2%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 56%;

    --accent: 108 53% 73%;
    --accent-foreground: 0 0% 2%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --light-gray: 0 0% 61%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 2%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-jakarta;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
  .font-jakarta {
    font-family: var(--font-jakarta);
  }
}

